@font-face {
    font-family: "unidays-font";
    src: url("./fonts/ui-semibold.woff2") format("woff2");
}

body {
    font-family: unidays-font;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.brand-item {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border:1px solid black;
    max-height: 350px;
    max-width: 300px;

    

    
}

.brand-image {
    vertical-align: middle;
    horizontal-align: middle;
    max-height: 200px;
    max-width: 250px;
    
}

.img-box {
    text-align: center;
    align: center;
    
}

.brand-name {
    vertical-align: middle;
    margin-left: 100px;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    gap: 0px;
    padding: 0px;
    align-self: center;
}

.letterHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
